<?xml version="1.0" encoding="UTF-8"?>
<blocks>
    <block>
        <name>SQ_Post</name>
        <description>Post Page</description>
        <actions>
            <action>sq_save_meta</action>
            <action>sq_save_ogimage</action>
            <action>sq_get_keyword</action>
        </actions>
        <active>1</active>
        <path>controllers</path>
    </block>
    <block>
        <name>SQ_PostsList</name>
        <description>Posts List Page</description>
        <actions>
            <action>sq_posts_rank</action>
            <action>sq_post_rank</action>
            <action>sq_recheck</action>
        </actions>
        <active>1</active>
        <path>controllers</path>
    </block>
    <block>
        <name>SQ_BlockSettingsSeo</name>
        <description>SEO Setting page</description>
        <actions>
            <action>sq_settingsseo_update</action>
            <action>sq_get_snippet</action>
            <action>sq_checkissues</action>

            <action>sq_active_help</action>
            <action>sq_fixautoseo</action>
            <action>sq_fixpermalink</action>
            <action>sq_fixprivate</action>
            <action>sq_fixcomments</action>
            <action>sq_fix_ogduplicate</action>
            <action>sq_fix_tcduplicate</action>
            <action>sq_fix_titleduplicate</action>
            <action>sq_fix_descduplicate</action>
            <action>sq_backup</action>
            <action>sq_restore</action>
            <action>sq_warnings_off</action>
        </actions>
        <active>1</active>
        <path>core</path>
    </block>
    <block>
        <name>SQ_BlockSettings</name>
        <description>Setting page</description>
        <actions>
            <action>sq_settings_update</action>
        </actions>
        <active>1</active>
        <path>core</path>
    </block>
    <block>
        <name>SQ_BlockSupport</name>
        <description>The support</description>
        <controllers>
            <controller>SQ_Post</controller>
        </controllers>
        <actions>
            <action>sq_feedback</action>
            <action>sq_support</action>
        </actions>
        <active>1</active>
        <path>core</path>
    </block>
    <block>
        <name>SQ_Blocklogin</name>
        <description>Connect to Squirrly</description>
        <controllers>
            <controller>SQ_Post</controller>
        </controllers>
        <actions>
            <action>sq_login</action>
            <action>sq_register</action>
            <action>sq_reset</action>
        </actions>
        <active>1</active>
        <path>core</path>
    </block>
    <block>
        <name>SQ_Blocksearch</name>
        <description>Inspiration box</description>
        <controllers>
            <controller>SQ_Post</controller>
        </controllers>
        <actions>
            <action>sq_search_img</action>
            <action>sq_search_blog</action>
            <action>sq_type_click</action>
        </actions>
        <active>1</active>
        <path>core</path>
    </block>

    <block>
        <name>SQ_Blockseo</name>
        <description>SEO Live assistant</description>
        <controllers>
            <controller>SQ_Post</controller>
        </controllers>
        <active>1</active>
        <path>core</path>
    </block>

    <block>
        <name>SQ_Blockresearch</name>
        <description>Research block</description>
        <controllers>
            <controller>SQ_Post</controller>
        </controllers>
        <active>1</active>
        <path>core</path>
    </block>

    <block>
        <name>SQ_BlockAffiliate</name>
        <description>Affiliate Page</description>
        <actions>
            <action>sq_settings_affiliate</action>
        </actions>
        <active>1</active>
        <path>core</path>
    </block>
    <block>
        <name>SQ_Loading</name>
        <description>Loading JS</description>
        <controllers>
            <controller>SQ_Post</controller>
        </controllers>
        <active>1</active>
        <path>core</path>
    </block>
</blocks>